body {
  font-family: 'Montserrat';
}
.navbar {
  background: #171717;
}

.nav-item {
  margin-right: 2rem;
  font-weight: 200;
}

.nav-item.active a {
  color: #F9B234 !important;
  font-weight: 600;
}

.nav-link span {
  color:  #F9B234 !important;
  font-weight: 600;
}

/* carousel */
.carousel {
  height: 450px;
  background-color: #171717;
  color: white;
}

.carousel h1 {
  font-family: 'Lora';
}

/* spesial */
.spesial h3 {
  font-family: 'Lora';
  color: #1B2690;
  font-weight: bold;
}

.spesial p {
  font-weight: 200;
  font-size: 20px;
  color: #B7B7B7;
}

.figure h5 {
  color: #171717;
}

.spesial .figure p {
  font-size: 18px;
}

.figure-image {
  position: relative;
}

.figure-image a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s;
}

.figure-image:hover a {
  opacity: 1;
  color: #1B2690 !important;
}